<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>70</TotalTime><Pages>3</Pages><Words>558</Words><Characters>2962</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>24</Lines><Paragraphs>7</Paragraphs><ScaleCrop>false</ScaleCrop><Company>Kungliga tekniska högskolan</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>3513</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>