@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

/*================================
=            =Reset   			 =
================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

ol {
	margin-left: 25px;
}

/*================================
=           htlm, body           =
================================*/
html,body, #container {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}
html {
    min-height: 100%;
}
body {
	background: #eee;
}

/*================================
=             General            =
================================*/

input.text {
	background: #fff;
	width: 300px;
	border: 1px solid #ccc;
	padding: 10px 10px;
	border-radius: 0px; /* TODO Fix browser comp */
	font-size: 15px;
	font-family: 'Oxygen', sans-serif; /* TODO Change if change font */
}
.clear {
	clear: both;
}
.space {
	height: 20px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
p {
	margin: 10px 0;
}
a {
	color: #008247;
}

/*================================
=             Tables             =
================================*/
th {
	text-align: left;
}
th, td {
	padding: 0 5px 0px 0;
}
th:last-child, td:last-child {
	padding: 0 5px;
}

/*================================
=             Footer             =
================================*/
.page-wrap {
  	min-height: 100%;
  	/* equal to footer height */
  	margin-bottom: -300px; 
}
.page-wrap:after {
  	content: "";
  	display: block;
}
#footer, .page-wrap:after {
  	height: 300px; 
}
#footer {
	background: #ddd;
	border-top: 2px solid #bbb;
	margin-top: -2px;
	line-height: 1.5;
}
#footer .centrator {
	padding: 20px 15px;
	max-width: 1000px;
}
/* TODO Make responsive */
#footer .col {
	width: 29.3%;
	padding: 0 4% 0 0;
	float: left;
}
#footer .col h3 {
	border-bottom: 1px solid #aaa;
}
#footer .col ul {
	margin: 10px 0 10px 15px;
}

/*================================
=             Clearfix           =
================================*/
.clearfix:before, .clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/*===============================
=             Header            =
===============================*/
/* Navbar */
.navbar {
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
.navbar .logo {
	float: left;
	margin: 20px 0 0 40px;
}
.centrator {
	max-width: 1060px;
	margin: 0 auto;
}

/* Searchbar */
.searchbar {
	list-style-type: none;
	float: right;
	margin: 9px 0 0 30px;
}

/* Searchbar text-area */
.search-form .text-area {
	border: 1px solid #ccc;
	font-size: 16px;
	height: 38px;
	padding: 0 0 0 7px;
	background: #eee;
	width: 250px;
	float: left;
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
}

/* Searchbutton */
.search-form .btn {
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
	padding: 8px;
	font-size: 14px;
	background-color: #008472;
	height: 40px;
	width: 70px;
	border: 0;
	float: left;
	display: inline-block;
	margin: 0 0 0 0px;
	color: #fff;
}
.search-form .btn:hover {
	background: #008472;
	cursor: pointer;
}

/* Menu */
ul.menu {
	float: left;
    margin: 0;
    padding-right: 40px;
    width: 550px; /* Changed from 350px to make room for categories */
    height: 60px;
    font-size: 0;
}
.menu li {
	display: inline-block;
	text-align: center;
	margin: 0;
	font-size: 16px;
	float: left;
	padding: 0 10px;
}
.menu a {
	margin: 0;
	display: block;
	text-decoration: none;
	color: #222;
	height: 50px;
	width: 100%;
  	line-height: 55px;
  	background: #fff;
  	padding: 5px 10px 5px;
  	transition: background .1s;
  	font-size: 18px;
  	font-weight: normal;
}
.menu a:hover {
	background: #ddd;
}


/* Sub menu */
.submenu {
	width: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.submenu ul {
	list-style-type: none;
	max-width: 1020px;
	margin: 0 auto;
	display: block;
}
.submenu ul li {
	float: left;
}
.submenu ul li a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: #222;
}
.submenu ul li a:hover {
	background: #ddd;
}
.submenu li.notif {
}
.submenu li.notif a {
	display: inline-block;
	background: #d22;
	border-radius: 50px; /* TODO Browser comp */
	color: #fee;
	height: 10px;
	padding: 6px 13px 12px;
	margin: 5px 0 3px 5px;
	font-weight: bold;
}
.submenu li.notif a:hover {
	background: #f66;
	color: #fff;
}

/* Responsive menu */
.expand {
	display: block !important; 
}
.visible-xs {
	display: none !important;
}
/* Changed responsive limit to fit advanced search */
@media (min-width: 927px){
	.responsive-menu{
		display: block !important;
	}
}
@media (max-width: 926px){
	ul.menu {
		position: relative;
		display: block;
		width: 100%;
    	padding: 0;
    	height: 100%;
    	top: 4px;
    	border-bottom: 2px solid #ccc;
	}
	ul.menu * {
		background: #fff;
		width: 100%;
	}
	.navbar .logo {
		margin-left: 10px;
	}
	.searchbar {
		margin-left: 10px !important;
		float: left;
	}
	.searchbar .search-form .text-area {
		width: 160px;
	}
	.searchbar .search-form .btn {
		width: 60px;
	}
	.visible-xs {
		display: block !important;
	}
	.hidden-xs {
		display: none !important;
	}
	/* Responsive menu is hidden by default */
	.responsive-menu{
		display: none;
	}
	ul.menu li {
		padding: 0;
		clear: both;
	}
	ul.menu a {
		height: 40px;
		line-height: 40px;
		padding: 2px 0;
	}
}
.responsive-menu {
	width: 100%;
}

/* Responsive components */
#burger {
	cursor: pointer;
	background: url(/images/burger.png) no-repeat;
	float: right;
	height: 34px;
	margin: 12px;
	width: 34px;
	border: 0;
}

/*==================================
=             Container            =
==================================*/
#container {
	max-width: 1000px;
	margin: 0 auto 50px;
	padding: 0 15px;
	line-height: 1.5;
}

#container h1, #container h2 {
	margin: 15px 0 10px 0;
}
.first-page h1 {
	padding: 25px 0 30px;
	text-align: center;
	display: block;
}
ul {
	margin: 0 0 0 20px;
}

/*==================================
=             Error	               =
==================================*/
.pop {
	padding: 10px 20px 10px 20px;
	margin: 0;
}
ul.pop {
	padding: 10px 20px 10px 40px;
}
.pop.error {
	background: #fcc;
	border: 1px solid #d88;
}
.pop.message {
	background: #ffc;
	border: 1px solid #dd8;
}
.pop.success {
	background: #cfc;
	border: 1px solid #8d8;
}


/*==================================
=             Form	               =
==================================*/

div.form {
	max-width: 400px;
}
div.form.wide {
	max-width: none;
}
div.form input.text, div.form textarea {
	background: #fff;
	width: 100%;
	max-width: 880px;
	border: 1px solid #ccc;
	padding: 10px 10px;
	border-radius: 0px; /* TODO Fix browser comp */
	font-size: 15px;
	font-family: 'Oxygen', sans-serif; /* TODO Change if change font */
}
div.form input.text.short {
	max-width: 60px;
}
div.form input.text.middle {
	max-width: 120px;
}
div.form input.text.long {
	max-width: 240px;
}
div.form textarea {
	height: 700px;
	width: 96%;
	padding: 10px 2%;
	font-family: 'Merriweather';
	line-height: 1.5;
	font-size: 1.1em;
}
div.form input.submit {
	border-radius: 0px; /* TODO Fix browser comp */
	color: #fff;
	border: 0px solid #ccc; /* TODO Fix */
	padding: 9px 14px;
	margin: 15px 0 10px;
	background: #008472;
	font-size: 15px;
	font-family: 'Oxygen', sans-serif; /* TODO Change if change font */
}
div.form input.submit.no {
	color: #008472;
	padding: 8px 13px;
	border: 1px solid #008472;
	background: #fff;
}
div.form input.submit.good {
	background: #494;
}
div.form input.submit.bad {
	background: #d22;
}
div.form input.checkbox {
	margin: 18px 10px;
	display: block;
}
div.form .row {
	display: block;
	clear: both;
	width: 100%;
}
div.form .row.same {
	padding: 1px;
}
div.form .row .description {
	font-weight: bold;
	font-size: 15px;
	padding: 10px 0 0px;
}
div.form .row.same .description {
	width: 90%;
	float: right;
	height: 20px;
	display: block;
	padding: 15px 0;
}
div.form .row.same .input {
	width: 10%;
	text-align: right;
	float: left;
	display: block;
}

div.form.wide {
	max-width: none;
	margin: 0 40px 0 20px;
}
div.form.wide .row .description {
	width: 20%;
	float: left;
	padding: 18px 10px;
	margin-left: -20px;
	display: block;
	text-align: right;
}
div.form.wide .row .input {
	width: 80%;
	float: left;
	padding: 10px 0;
}
div.form.wide .row {
	display: block;
	clear: both;
}
div.form.wide .submit input {
	margin-left: 20%;
}

/*===============================
=             Result            =
===============================*/
ul.result {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #ccc;
}
ul.result li {
	margin: 15px 0;
	max-width: 600px;
}
ul.result li a {
	color: #008472;
}
ul.result li h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}
ul.result li h3 a {
	color: #004231;
	text-decoration: none;
}
ul.result li h3 .goldenstar {
	font-size: 1em;
	color: #ec0;
}
ul.result li h3 .greystar {
	font-size: 1em;
	color: #ccc;
}
ul.result li p.description {
	margin-top: 0;
	padding-top: 0;
	font-size: 0.9em;
}
ul.result .tags a {
	display: inline-block;
	padding: 2px 5px;
	background: #ddd;
	text-decoration: none;
}

/*===============================
=           PM-review           =
===============================*/
#pmc {
	padding: 30px 50px 30px;
	background: #fff;
	font-size: 14px;
	line-height: 1.5;
	border: 1px solid #ccc;
}

#pmc h1, #pmc h2, #pmc h3 {
	font-family: 'Oxygen', sans-serif;
}

#pmc #pmc-text {
	max-width: 700px;
	float: left;
}

#pmc #pm-comments {
	max-width: 300px;
	float: left;
}

.review span.comment {
	display: block;
	background: #eff;
}
.review span.comment.active {
	background: #cff;
}

div.comment-box {
	padding: 10px;
	margin: 0 0 10px 0;
	width: 259px;
	border: 1px solid #ccc;
	background: #fff;
	display: block;
	font-family: 'Oxygen', sans-serif;
	float: left;
	z-index: 50;
	position: relative;
}

div.comment-outer {
	width: 300px;
	min-height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: top .2, position .2, margin .2;
	z-index: 5;
}

div.comment-outer img {
	float: left;
	margin-right: -1px;
	z-index: 500;
	position: relative;
	transition: margin .1s;
}

div.comment-box span {
	height: 19px;
	padding: 3px 0px;
}

div.comment-box input.text {
	background: #fff;
	width: 176px;
	border: 1px solid #ccc;
	padding: 10px 10px;
	border-radius: 0px; /* TODO Fix browser comp */
	font-size: 15px;
	font-family: 'Oxygen', sans-serif; /* TODO Change if change font */
	transition: border .1s;
}

div.comment-box button {
	background: #008472;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	margin: 3px 0 0 0;
	padding: 5px 10px;
	float: right;
	border: 1px solid #008472;
	margin-left: 3px;
}

div.comment-box button.delete {
	color: #008472;
	background: #fff;
}

div.comment-outer.inactive {
	z-index: 4;
}
div.comment-outer.inactive div.comment-box button {
}
div.comment-outer.inactive img {
	z-index: 1;
	margin: 0 -21px 0 20px;
}
div.comment-outer.inactive div.comment-box input.text {
	border-color: #fff;
}

span.placeholder {
	width: 100%;
	display: block;
}

.accepted {
	color: #2a2;
}
.denied {
	color: #d22;
}
.show-comments-box {
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	margin: 20px 0;
	padding: 10px 0 20px;
}

/*===============================
=             PM                =
===============================*/
a.action {
	background: #008472;
	float: left;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	max-width: 400px;
	margin: 5px 1px 10px 0;
}
a.action:hover {
	background: #33aa99;
}
a.action img {
	border: 0;
	background: #eee;
	padding: 3px;
	margin: -4px 10px -3px -10px;
	vertical-align: middle;
	display: inline-block;
}

a.action:hover img {
	background: #fff;
}



a.inline-action {
	display: inline-block; 
	background: #008472; 
	color: #fff; 
	text-decoration: none;
	padding: 2px 5px;
}

.pm-content {
	margin: 15px 0;
	font-family: 'Merriweather';
	font-size: 1.2em;
	min-height: 900px;
	max-width: 800px;
}
.pm-content .pm-info {
	clear: both;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.pm-content .pm-info img {
	float: left;
	max-height: 100px;
	max-width: 20%;
}
.pm-content .pm-info table {
	max-width: 80%;
	float: right;
    border-spacing: 0;
    border-collapse: separate;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 0.9em;
}
.pm-content .pm-info table td {
	border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	padding: 3px;
	vertical-align: top;
}

.pm-content ul ol, .pm-content ul ul, .pm-content ol ul, .pm-content ol ol {
	margin: 0 0 0 20px;
}
.pm-content li {
	margin: 7px 0;
}

.meter {
	background: #ccc;
	display: block;
	border-radius: 30px;
	padding: 5px 15px;
	color: #000;
	text-decoration: none;
	max-width: 400px;
	margin: 15px 0;
	text-align: center;
}

.meter .first, .meter .last {
	background: #ac0;
	display: inline-block;
	border-radius: 30px;
	padding: 10px 20px;
	color: #000;
	text-decoration: none;
	max-width: 400px;
	margin: -10px -15px;
	min-width: 50px;
}
.meter .first {
	margin-right: 0;
	float: left;
}
.meter .last {
	margin-left: 0;
	float: right;
}

/*===============================
=         First page login      =
===============================*/
.login.form {
	margin: 0 auto 50px;
	width: 300px;
	max-width: 300px;
	background: #fff;
}
.login.form .content {
	padding: 10px 40px 20px 20px;
}
.login.form .choose-type {
	padding: 10px 15px;
	font-size: 17px;
	font-weight: normal;
	width: 120px;
	float: left;
	display: block;
	background: #ddd;
	color: #000;
	text-decoration: none;
	text-align: center;
}
.login.form .choose-type.active {
	background: #fff;
	color: #000;
}
/* TODO: Style checkbox; */
.login.form div.submit {
	margin-right: -20px;
}
.login.form input.submit {
	width: 100%;
	display: block;
	padding: 10px 30px;
	font-size: 20px;
}


/*===============================
=         Big search form       =
===============================*/
.form.big-search {
	margin: 20px 0;
	width: 100%;
	max-width: 100%;
}
.form.big-search .search-field {
	margin-right: 102px;
}
.form.big-search input.text {
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	float: left;
	width: 100%;
	/* TODO FIX */
}
.form.big-search input.submit {
	font-size: 25px;
	font-weight: normal;
	float: left;
	display: inline;
	margin: 0;
	width: 80px;
	height: 52px;
	border-left: 0;
	margin-left: 0px;
}
#search-autocomplete-list {
	background: none;
}
ul.ui-autocomplete {
	position: absolute;
	top: -50px;
}
ul.ui-autocomplete li {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	list-style-type: none;
	font-size: 1.2em;
	background: #fff;
	padding: 5px 10px;
}
ul.ui-autocomplete li a {
	padding: 0;
	margin: 0;
	height: 0;
}
ul.ui-autocomplete li.ui-state-focus {
    color: #000;
    background: #ccc;
    outline:none;
}
.ui-helper-hidden-accessible {
	display: none;
}

/*==================================
=    Search result page selector   =
==================================*/

.search_page_selector {
	padding-top: 30px;
	border-top: 1px solid #ccc;
}

.search_page_selector a {
	background-color: #fff;
	color: #008472;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #008472;
}

.search_page_selector a:hover {
	background-color: #e5e5e5;
}

.search_page_selector a:active {
	background-color: #989898;
}

.search_page_selector .current_page {
	background-color: #fff;
}

.search_page_selector .active {
	background: #95A7A7;
}

/*=====================================================
=            Search result sorting options            =
=====================================================*/
div.result {
	display: block;
	width: 100%;
	border-bottom: 3px solid #ccc;
	margin-top: 10px;
	text-align: left;
	font-size: 1.3em;
}
.sortby {
	display: inline-block;
	list-style: none;
	margin: 0;
	float: right;
	font-size: 0.76em;
}

.sortby li {
	display: inline-block;
	background: #008472;
	margin: 0 0 5px 0;  
	text-align: center;
}

.sortby a {
	background: #ddd;
	display: inline-block;
	text-decoration: none;
	color: #000;
	height: 100%;
	padding: 5px 10px;
	color: #008472;
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
}
.sortby .active a {
	color: #eee;
	background: #008472;
}
.sortby a:hover { 
	color: #eee;
	background: #119482;
}
div#inline{
	float: right;
}

/*==================================
=            Categories            =
==================================*/

div#category-output {
	width: 68%;
	float: left;
}

div#categories {
	width: 32%;
	float: left;
	margin: 0;
	padding: 0;
}
div#categories h3 {
	border-bottom: 2px solid #ccc;
	margin-right: 20px;
	padding: 10px 0;
}

div#categories ul {
	margin: 0;
	padding: 0;
}

div#categories ul ul {
	display: none;
}

div#categories ul ul li {
	margin: 0;
}

div#categories ul li a span {
	display: inline-block;
	padding: 3px 10px;
	width: 5px;
}

div#categories ul ul.active {
	display: block;
}

div#categories ul li {
	margin: 0 20px 0 0;
	list-style-type: none;
	background: #e5e5e5;
	border-top: 1px solid #ccc;
}
div#categories ul li a {
	display: block;
	padding: 7px 10px 7px 0;
	text-decoration: none;
}

div#categories ul ul li a {
	padding-left: 20px;
}
div#categories ul ul ul li a {
	padding-left: 40px;
}
div#categories ul ul ul ul li a {
	padding-left: 60px;
}
div#categories ul ul ul ul li a {
	padding-left: 80px;
}
div#categories ul li a:hover {
	background: #d0d0d0;
}

div.breadcrumb {
	margin: 15px 0;
	font-size: .9em;
}

div.breadcrumb button {
	float: right;
}

.centrator #categories > a {
	display: inline-block;
	padding: 50px 0;
	width: 33.33%;
	margin: 0;
    float: left;
    word-wrap: break-word;
    background: #008472; 
}
.centrator #categories > a.btn {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
	border: 0;
	float: left;
	display: inline-block;
	color: #fff;
}

.result .tags {
	font-size: .8em;
}

/*==========  Color stylings for category buttons  ==========*/

.centrator #categories > a#default {
	background: #008472; 
}
.first-page .pop {
	padding: 10px 10px 10px 30px;
	margin: 5px -21px 5px 0;
}
.first-page .pop.no-bullet {
	list-style-type: none;
	padding: 10px;
}

#infoWindow { /* TODO: Making it more prettier */
	position: absolute;
	background: #dddddd;
	color: #000000;
	width: 300px;
	height: 100px;
	border: 3px solid #cccccc;
	border-radius: 2px;
	padding: 5px;
	z-index: 9002;
}

table.list {
	margin-top: 10px;
	width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
table.list th.filter {
	text-align: right;
}
table.list td, table.list th {
	padding: 10px 1px 10px 11px;
	margin: 0;
	vertical-align: top;
}
table.list th:last-child, table.list td:last-child {
	padding: 10px 11px 0px 11px;
}
table.list th {
	background: #ddd;
	font-size: 1.1em;
	padding: 10px 1px 10px 11px;
}
table.list th.action {
	width: 20px;
	height: 25px;
}
table.list tr:nth-child(even) {
	background: #fff;
}
table.list tr:nth-child(odd) {
	background: #f6f6f6;
}
table.list tr:hover {
	background: #cdcdcd;
}
table.list a img {
	border: 0;
	height: 16px;
	padding: 5px;
	margin-top: -4px;
}
table.list a img:hover {
	background: #eee;
}
table.list a {
	margin-bottom: -10px;
}
table.list table {
	margin-left: -15px;
}
table.list table tr:nth-child(odd), table.list table tr:nth-child(even) {
	background: none;
}

div.pagination {
	margin: 0 auto;
	text-align: center;
}
ul.pagination, ul.pagination li {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1; /* For IE, the outcast */
    *display: inline; /* For IE, the outcast */
	list-style-type: none;
}
ul.pagination {
	margin: 20px 0;
}
ul.pagination li {
	font-size: 1em;
	float: left;
	margin: 0 1px 0 0;
}
ul.pagination li a, ul.pagination li span {
	display: inline-block;
	padding: 10px 15px;
	background: #ddd;
}
ul.pagination li span {
	background: #e6e6e6;
	color: #bbb;
}
ul.pagination li a {
	text-decoration: none;
}
ul.pagination li a:hover, ul.pagination li.active span {
	background: #008472;
	color: #ddd;
}

.goldenstar, .greystar {
	text-decoration: none;
	font-size: 1.3em;
	display: inline-block;
	padding: 0 0 5px 0;
	margin-top: -5px;
	border: none;
	background: none;
}

* .goldenstar {
	color: #fd0;
}
* .greystar {
	color: #ccc;
}

#ui-datepicker-div {
	background: #eee;
	border: 1px solid #ccc;
	display: block;
}
#ui-datepicker-div table {
	text-align: center;
    border-spacing: 0;
    border-collapse: separate;
}
#ui-datepicker-div table td {
	text-align: center;
	padding: 0;
}
#ui-datepicker-div table th {
	padding: 5px;
	width: 32px;
}
#ui-datepicker-div table td a {
	text-decoration: none;
	background: #ddd;
	display: block;
	padding: 5px;
	width: 32px;
}
#ui-datepicker-div table td a:hover {
	background: #008472;
	color: #fff;
}
.ui-datepicker-title {
	text-align: center;
	background: #008472;
	color: #fff;
	padding: 5px 0;
	font-weight: bold;
}
.ui-datepicker-prev {
	color: #ddd;
	cursor: pointer;
	float: left;
	padding: 5px 5px;
}
.ui-datepicker-next {
	color: #ddd;
	cursor: pointer;
	float: right;
	padding: 5px 5px;
}

@media (max-width: 500px){
	.page-wrap {
		min-height: 0;
		margin-bottom: 0;
	}
	.page-wrap:after {
		height: 0px;
	}
	#footer {
		margin-top: 25px;
		height: auto;
	}
	#footer .col {
		width: 100%;
		padding: 0 0 30px 0;
		display: block;
	}
	#footer .col h3 {
		display: block;
	}
	.pm-content .pm-info {
		text-align: center;
	}
	.pm-content .pm-info img {
		max-width: 100%;
		max-height: 100px;
		margin: 0 auto;
		text-align: center;
		float: none;
		display: inline;
	}
	.pm-content .pm-info table {
		margin-top: 10px;
		max-width: none;
		text-align: left;
	}
	.pm-content {
		padding: 10px;
	}
	#pmc {
		padding: 15px;
	}
	div#categories {
		width: 100%;
		display: block;
		clear: both;
		margin: 0;
		padding: 0;
	}
	div#categories ul li, div#categories h3 {
		margin-right: 0;
	}
	div#category-output {
		width: 100%;
		display: block;
	}
}

/*=====================================
=            Notes styling            =
=====================================*/

div.input-note{
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden; 
}

.note-textarea {
	resize: none;
}

a.btn-note {
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
	padding: 8px;
	font-size: 14px;
	background-color: #008472;
	border: 0;
	display: inline-block;
	margin: 15px 0 15px 0px;
	color: #fff;
	text-decoration: none;
}



